:root{
  --back: #064152;
  --dark: #02161b;
  --main: #b2e9f9;
}


*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: var(--back);
}
header{
  background-color: var(--dark);
  color: var(--main);
  padding: 30px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  font-size: 35px;
}


ul {
  list-style-type: none;

  padding: 0;
  overflow: hidden;
  width:80%;
  margin:auto;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--back);
  color: white;
}
li a.active{
  background-color: var(--main);
  color: var(--dark);
}

.card {
  width: 70%;
  background-color: var(--main);
  margin: auto;
  color: var(--dark);
  padding: 5%;
}

h3{
  text-align: center;
  background-color: var(--dark);
  color: var(--main);
  padding:10px;
}