*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #064152;
}
header{
    background-color: #02161b;
    color: #66d3f3;
    padding: 30px;
    text-align: center;
    font-size: 35px;

}


nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #0a6681;
    padding: 20px;
}
li{
    display: inline;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }